* {
  padding: 0;
  box-sizing: border-box;
}

body {
}

:root {
  --midnightblue: #272142;
  --darkviolet: #662eed;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: Nunito;
}

header .nav-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

header .nav-section ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  cursor: pointer;
}

header .nav-section a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  color: var(--midnightblue);
}

.nav-display {
  position: absolute;
  right: 5%;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.nav-section a.active,
.nav-bar a:hover {
  background: none;
  color: var(--darkviolet);
}

header .overlay {
  background-image: url(/Images/overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 125px;
  padding-bottom: 46px;
  color: #fff;
}

header .overlay h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

header .overlay p {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.first-row {
  margin-top: 100px;
}

main img {
  border-radius: 12px;
}

main p {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px 0 0;
  color: var(--midnightblue);
}

main .cols {
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #f9f7fe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

footer .footers-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 140px;
}

footer .logos a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--midnightblue);
}

footer p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: var(--midnightblue);
}

@media (max-width: 765px) {
  .nav-display {
    display: block;
  }

  header .nav-section ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: white;
    padding: 0;
    transition: all 0.3s ease;
  }

  header .nav-section li {
    padding: 20px 0;
  }

  #check:checked ~ .nav-section ul {
    height: 280px;
  }
}

@media (max-width: 875px) {
  footer {
    height: 150px;
  }

  footer .footers-child {
    display: block;
    text-align: center;
    padding: 0;
  }

  footer .logos {
    margin: 15px 0;
  }

  .first-row {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
}
